/vendor
/node_modules
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/.idea
/.vscode
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
/database/database.sqlite
*.log
.DS_Store
Thumbs.db